@model SGIAMT.Models.ENivelxTipoNivel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ENivelxTipoNivel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NroAlumno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NroAlumno)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PkInCodNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PkInCodNavigation.VnNombreNivel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PkItnCodNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PkItnCodNavigation.ItnNombreTipoNivel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PkIuDniNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PkIuDniNavigation.VuAmaterno)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PkIntnCod" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
