@model SGIAMT.Models.ENivelxTipoNivel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ENivelxTipoNivel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NroAlumno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NroAlumno)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FkInCodNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FkInCodNavigation.VnNombreNivel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FkItnCodNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FkItnCodNavigation.ItnNombreTipoNivel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FkIuDniNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FkIuDniNavigation.VuAmaterno)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PkIntnCod">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
