@model IEnumerable<SGIAMT.Models.ENivelxTipoNivel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NroAlumno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkInCodNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkItnCodNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkIuDniNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NroAlumno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkInCodNavigation.VnNombreNivel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkItnCodNavigation.ItnNombreTipoNivel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkIuDniNavigation.VuAmaterno)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PkIntnCod">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PkIntnCod">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PkIntnCod">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
