@model SWACTPROY.Models.T_Cotizacion

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<div id="HTMLtoPDF">

    <h4>Generar Factura</h4>
    <hr />
    <div class="form-row">
        <div class="form-group col-md-6">
            <dt>
                Fecha Emision
            </dt>
            <dd>
            21/06/2018
            </dd>

        </div>

        <div class="form-group col-md-6">

            <dt>
                Nombre del Cliente
            </dt>
            <dd>
                @Html.DisplayFor(model => model.T_Solicitud.T_Cliente.T_Usuario.nombre)

            </dd>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <dt>
                apellido del Cliente
            </dt>
            <dd>
                @Html.DisplayFor(model => model.T_Solicitud.T_Cliente.T_Usuario.apellidopaterno) @Html.DisplayFor(model => model.T_Solicitud.T_Cliente.T_Usuario.apellidomaterno)

            </dd>

        </div>

        <div class="form-group col-md-6">

            <dt>
                Empresa
            </dt>
            <dd>
                @Html.DisplayFor(model => model.T_Solicitud.T_Cliente.razonSocial)

            </dd>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <dt>
                RUC
            </dt>
            <dd>
                @Html.DisplayFor(model => model.T_Solicitud.T_Cliente.ruc)

            </dd>

        </div>

        <div class="form-group col-md-6">

            <dt>
                @Html.DisplayNameFor(model => model.nombrepdf)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.nombrepdf)
            </dd>
        </div>
    </div>


    <div class="form-row">
        <div class="form-group col-md-6">
            <dt>

            <dt>
                Servicio
            </dt>
            <dd>
                @Html.DisplayFor(model => model.T_Solicitud.T_Servicio.nombreServicio)
            </dd>

        </div>

        <div class="form-group col-md-6">


            <dt>
                duracion
            </dt>
            <dd>
                @Html.DisplayFor(model => model.duracion)
            </dd>

        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">

            <dt>
                Correo
            </dt>
            <dd>
                @Html.DisplayFor(model => model.T_Solicitud.T_Cliente.T_Usuario.email)
            </dd>
        </div>

        <div class="form-group col-md-6">

            <dt>
                Direccion
            </dt>
            <dd>
                @Html.DisplayFor(model => model.T_Solicitud.T_Cliente.direccion)
            </dd>
        </div>
        <div class="form-group col-md-6">

            <dt>
                Precio
            </dt>
            <dd>
                @Html.DisplayFor(model => model.precio)
            </dd>
        </div>
    </div>





</div>
<div>

    <br /> <br />
    @*<a id="download" class="btn btn-success">Descargar Factura</a>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>*@
    <a class="btn btn-primary" href="#" onclick="HTMLtoPDF()">Generar Factura</a>

    @*<a asp-action="Edit" asp-route-id="@Model.idCotizacion">Edit</a> |*@
    <a class="btn btn-outline-warning" asp-action="Index">Atras</a>
</div>
<script src="~/js/jspdf.js"></script>
<script src="~/js/jquery-2.1.3.js"></script>
<script src="~/js/pdfFromHTML.js"></script>