@model SGIAMT.Models.EUsuario

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>EUsuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VuNombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VuNombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VuApaterno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VuApaterno)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VuAmaterno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VuAmaterno)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VuCelular)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VuCelular)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VuCorreo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VuCorreo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VuDireccion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VuDireccion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DuFechaNacimiento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DuFechaNacimiento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VuSexo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VuSexo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VuContraseña)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VuContraseña)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VuEstado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VuEstado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VuHorario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VuHorario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FkIc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FkIc.VcNombreCat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FkIdiCodNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FkIdiCodNavigation.VdiNombreDis)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FkItuTipoUsuarioNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FkItuTipoUsuarioNavigation.VtuNombreTipoUsuario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PkIuDni">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
