@model IEnumerable<SGIAMT.Models.EUsuario>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VuNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VuApaterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VuAmaterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VuCelular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VuCorreo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VuDireccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DuFechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VuSexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VuContraseña)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VuEstado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VuHorario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PkIc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PkIdiCodNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PkItuTipoUsuarioNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VuNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VuApaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VuAmaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VuCelular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VuCorreo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VuDireccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DuFechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VuSexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VuContraseña)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VuEstado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VuHorario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PkIc.VcNombreCat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PkIdiCodNavigation.VdiNombreDis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PkItuTipoUsuarioNavigation.VtuNombreTipoUsuario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PkIuDni">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PkIuDni">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PkIuDni">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
