@model SWACTPROY.Models.T_Entregable

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>T_Entregable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.horaInicio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.horaInicio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.horaFin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.horaFin)
        </dd>
      
      
        <dt>
            @Html.DisplayNameFor(model => model.T_OrdenTrabajo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.T_OrdenTrabajo.idOrdenTrabajo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="idEntregable" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
