@model IEnumerable<SWACTPROY.Models.T_Entregables>
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Index2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Entregables </h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.horaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.horaFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estado)
            </th>
            <th>
                Orden De Trabajo
            </th>
            <th>
                @Html.DisplayNameFor(model => model.t_Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.t_Usuario.idUsuario == @UserManager.GetUserId(User))
            {


                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.horaInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.horaFin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.estado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.T_OrdenTrabajo.estado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.t_Usuario.idUsuario)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.idEntregable">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.idEntregable">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.idEntregable">Delete</a>
                    </td>
                </tr>

            }
        }
    </tbody>
</table>
