@model SWACTPROY.Models.T_Rubro

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>T_Rubro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreRubro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nombreRubro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.detalleRubro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.detalleRubro)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.idRubro">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
