@model IEnumerable<SWACTPROY.Models.T_OrdenTrabajo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>Orden de Trabajos</h2>
<br />

<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.progreso)
            </th>
            <th>
                %
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estado)
            </th>

            <th>
                Solicitud
            </th>
            <th>
               Orden de  trabajo
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60"
                         aria-valuemin="0" aria-valuemax="100" style="width:  @item.progreso%">
                        <span class="sr-only">60% completado</span>
                    </div>
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.progreso) %
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>


            <td>
                @Html.DisplayFor(modelItem => item.idSolicitud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idOrdenTrabajo)
            </td>
            <td>
                @*<a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.idOrdenTrabajo">Editar</a> |*@
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.idOrdenTrabajo">Detalle</a> |
                <a class="btn btn-info" asp-controller="T_Entregables" asp-action="Index" asp-route-id="@item.idOrdenTrabajo">Entregables</a> |
                @*<a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.idOrdenTrabajo">Eliminar</a> |*@
                @if (item.progreso != 100)
    {
            <a class="btn btn-success" asp-controller="T_Entregables" asp-action="Create" disabled="true" asp-route-id="@item.idOrdenTrabajo">  Agregar Entregable  </a>
}
            </td>
        </tr>
}
    </tbody>
</table>
